.myInput {
  padding: 7px;
  font-size: 17px;
  color: #727272;
  border: 0;
  border-bottom: 1px solid blueviolet;
  margin-bottom: 20px;
  outline: 0;
  transition: all 0.2s linear;
  width: 100%;
}

.myInput:focus {
  border-bottom: 1px solid yellow;
  outline: 0;
}
